.table_default {
    thead {
        background: #F7F7F7;
        border: 1px solid #F2F2F2;
    }
    th {
        padding: 11px 10px;
        font-size: 15px;
    }
    td {
        padding: 12px 10px;
        border: 1px solid #F2F2F2;
    }
}